body,
html {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #e9ecf3;
  color: #3B3F51;
}

@media screen and (min-width: 800px) {
  #outer-container {
    padding: 10px 30%;
  }
}
#outer-container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#outer-container #titlebar {
  background-color: #3B3F51;
  color: #aeb2c4;
  text-align: center;
  padding-bottom: 10px;
}
#outer-container .menu-item {
  border: 1px solid #3B3F51;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}
#outer-container .menu-item:hover {
  background-color: #d9dce3;
}
#outer-container .app-screen {
  flex: 1;
  padding-top: 5px;
}
#outer-container .app-screen .screen-title {
  text-align: center;
}
#outer-container .app-screen .form-control {
  font-size: 200%;
  padding: 24px;
}
#outer-container .app-screen .sec-header {
  text-decoration: underline;
  font-size: 115%;
}
#outer-container .app-screen .subsec-header {
  font-weight: bold;
  text-decoration: underline;
}
#outer-container .app-screen .inventory {
  margin-top: 20px;
}
#outer-container .app-screen .status, #outer-container .app-screen .inventory {
  padding-left: 10px;
}
#outer-container .app-screen .status .sec-header, #outer-container .app-screen .inventory .sec-header {
  margin-top: 20px;
  margin-left: -10px;
}
#outer-container .app-screen .status .status-item, #outer-container .app-screen .inventory .status-item {
  text-align: center;
}
#outer-container .app-screen .status .status-item .status-stat .quantity, #outer-container .app-screen .inventory .status-item .status-stat .quantity {
  font-size: 200%;
  font-weight: bold;
}
#outer-container .app-screen .dialer-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#outer-container .app-screen .dialer-group > button {
  margin: 5px;
}
#outer-container .app-screen .dialer-group > .quantity {
  display: inline-block;
  font-size: 300%;
  text-align: center;
  padding: 0 20px;
}
#outer-container .app-screen .dialer-group .btn-bigger {
  font-size: 200%;
  padding: 10px;
}