$fgcolor: #3B3F51;
$bgcolor: #e9ecf3;
$hoverbg: #d9dce3;

$invertedfg:#aeb2c4;
$invertedbg:#3B3F51;

body,
html {
  width: 100%;
  height: 100%;
  
    font-family: "Open Sans",sans-serif;
    background: $bgcolor;
    color: $fgcolor;
}

@media screen and (min-width:800px) {
    #outer-container {
        padding: 10px 30%;
    }
}

#outer-container {
    display:flex;
    
    justify-content: flex-start;
    align-items:stretch;
    flex-direction:column;
    
    width: 100%;
    height: 100%;
    
    
    
    #titlebar {
        background-color: $invertedbg;
        color:$invertedfg;
        text-align:center;
        padding-bottom: 10px;
    }
    
    .menu-item {
        border: 1px solid $fgcolor;
        
        padding: 12px;
        text-align: center;
        cursor: pointer;
    }
    .menu-item:hover {
        background-color:$hoverbg;
    }
    
    .app-screen {
        flex:1;
        
        padding-top:5px;
        
        .screen-title {
            text-align:center;
        }
        
        .form-control {
            font-size:200%;
            padding: 24px;
        }
        
        .sec-header {
            text-decoration:underline;
            font-size:115%;
        }
        
        .subsec-header {
            font-weight:bold;
            text-decoration:underline;
        }
        
        .inventory {
            margin-top:20px;
        }
            
        .status, .inventory {
            padding-left:10px;
            
            .sec-header {
                margin-top:20px;
                margin-left:-10px;
            }
            
            .status-item {
                text-align:center;
                .status-stat {
                    .quantity {
                        font-size:200%;
                        font-weight:bold;
                    }
                }
            }
            
            
        }
        
        .dialer-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            > button {
                margin:5px;
            }
            
            > .quantity {
                // flex:1;
                display:inline-block;
                font-size: 300%;
                text-align: center;
                padding:0 20px;
            }
            
            .btn-bigger {
                font-size: 200%;
                padding:10px;
            }
        }
        
    }
}