<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Food Pantry Distribution Helper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="App for coordinating food pantry distribution">
