<body>
    <div id="outer-container" ng-controller="PantryController">
        <div id="titlebar" ng-show="currOrg">
            <h3>{{currOrg}} <small>{{serviceDay.date | date}}</small></h3>
            <div>Promised: {{serviceDay.promised}}</div>
            <div>Served: <b>{{serviceDay.served}}</b> | Awaiting: <b>{{serviceDay.promised - serviceDay.served}}</b></div>
        </div>
        <div id="login" class="app-screen" ng-if="!currOrg">
            <div class="form-group">
                <label for="passcode">Passcode</label>
                <input type="number" class="form-control" id="passcode" ng-model="passcode">
            </div>
            <button class="btn btn-default" ng-click="submitPasscode(passcode)" ng-disabled="!passcode">Submit</button>
        </div>
        <div class="menu-item" ng-show="currOrg && currScreen !== 'home'" ng-click="currScreen = 'home'">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div id="home" class="app-screen" ng-show="currScreen=='home'">
            <div class="menu-item" ng-click="switchScreen('promise')">
                Give Out Numbers
            </div>
            <div class="menu-item" ng-click="switchScreen('intake')">
                Intake
            </div>
            <div class="menu-item" ng-repeat="s in serviceDay.stations" ng-click="switchScreen(s.idx)">
                Station: {{s.station.name}}
            </div>
        </div>
        
        <div id="promise" class="app-screen" ng-show="currScreen === 'promise'">
            <h4 class="screen-title">Promised <br><small>Number of families that have received numbers.</small></h4>
            <!--<input type="number" class="form-control" id="served" ng-model="serviceDay.promised">-->
            <div class="dialer-group">
                <button class="btn btn-default btn-lg" ng-click="promChg(-1)">-1</button>
                <h3 class="quantity">{{serviceDay.promised}}</h3>
                <button class="btn btn-primary btn-bigger  btn-lg" ng-click="promChg(1)">+1</button>
                <button class="btn btn-primary btn-lg" ng-click="promChg(2)">+2</button>
            </div>
        </div>
        <div id="intake" class="app-screen" ng-show="currScreen === 'intake'">
            <h4 class="screen-title">Served <br><small>Number of families that have entered the line.</small></h4>
            <!--<input type="number" class="form-control" id="served" ng-model="serviceDay.promised">-->
            <div class="dialer-group">
                <button class="btn btn-default btn-lg" ng-click="servedChg(-1)">-1</button>
                <h3 class="quantity">{{serviceDay.served}}</h3>
                <button class="btn btn-primary btn-bigger  btn-lg" ng-click="servedChg(1)">+1</button>
                <button class="btn btn-primary btn-lg" ng-click="servedChg(2)">+2</button>
            </div>
        </div>
        <div class="app-screen" ng-repeat="s in stations" ng-show="currScreen === s.idx">
            <h4 class="screen-title">Station: {{s.station.name}}</h4>
            <div class="status">
                <div class="status-item" ng-repeat="item in s.station.served_items">
                    <div class="subsec-header">{{item.name}}</div>
                    <div ng-if="item.quantity_available > serviceDay.served">
                    <div class="status-stat"><span class="quantity">{{item.quantity_available - serviceDay.served}}</span> {{item.unit}} Remaining</div>
                    <div class="status-stat"><span class="quantity">{{(item.quantity_available - serviceDay.served)/(serviceDay.promised - serviceDay.served) | number:1}}</span>  {{item.unit}} per awaiting person.</div>
                    </div>
                    <div ng-show="item.quantity_available <= serviceDay.served">
                        <i>all gone</i>
                    </div>
                </div>
            </div>
            <div class="inventory">
                <button class="btn btn-default btn-block" style="white-space:normal" ng-click="toggleEditInventory(s)">Edit Starting Inventory  <i class="fa" ng-class="{'fa-chevron-left':!s.editing, 'fa-chevron-down':s.editing}"></i></button>
                <div ng-show="s.editing">
                <div class="inventory" ng-repeat="item in s.station.served_items">
                    <label>{{item.name}}</label>
                    <div class="input-group">
                      <input type="number" class="form-control" ng-model="item.quantity_available" placeholder="starting # of {{item.unit}}">
                      <span class="input-group-addon">{{item.unit}}</span>
                    </div>
                    
                </div>
                </div>
            </div>
        </div>
        
        
    </div>
</body>
